<h3 class="modal-title">{{'School_Fee_Terms' | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
    <div class="outer ">
        <div class="row rowm0 mt-3">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Fee_Term_Code' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Fee_Term_Code' | translate}}"
                        formControlName="termCode" />
                    <validation-message [control]="form.controls.termCode"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Fee_Term_Name' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Fee_Term_Name' | translate}}"
                        formControlName="termName" />
                    <validation-message [control]="form.controls.termName"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Term_Name_in_Arabic' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Term_Name_in_Arabic' | translate}}"
                        formControlName="termName2" />
                    <validation-message [control]="form.controls.termName2"></validation-message>
                </div>
            </div>     
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Term_Starting_Date' | translate}}</label>
                    <div class="input-group ">
                        <input class="form-control datapickerinput" placeholder="{{'Term_Starting_Date' | translate}}"
                            formControlName="termStartDate" [matDatepicker]="picker1">
                        <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker><br /><br />
                        </div>
                    </div>
                    <validation-message [control]="form.controls.termStartDate"></validation-message>
                </div>
            </div>      
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Fee_Term_Due_Date' | translate}}</label>
                    <div class="input-group ">
                        <input class="form-control datapickerinput" placeholder="{{'Fee_Term_Due_Date' | translate}}"
                            formControlName="feeDueDate" [matDatepicker]="picker2">
                        <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker><br /><br />
                        </div>
                    </div>
                    <validation-message [control]="form.controls.feeDueDate"></validation-message>
                </div>
            </div>
           
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Term_Ending_Date' | translate}}</label>
                    <div class="input-group ">
                        <input class="form-control datapickerinput" placeholder="{{'Term_Ending_Date' | translate}}"
                            formControlName="termEndDate" [matDatepicker]="picker3">
                        <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker><br /><br />
                        </div>
                    </div>
                    <validation-message [control]="form.controls.termEndDate"></validation-message>
                </div>
            </div>
          
           <div class="col-md-6 col-lg-6 col-sm-6">
                <label>{{'Is_Active' | translate}}</label>  
                <div class="form-group">                   
                    <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>                
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Remarks' | translate}}</label>
                    <textarea class="form-control" type="txt" placeholder="{{'Remarks' | translate}}"
                        formControlName="remarks" ></textarea>
                    <validation-message [control]="form.controls.remarks"></validation-message>
                </div>
            </div>
           
        </div>
        <div class="row customrow mt-4">
            <div class="col-lg-12 col-md-12 text-center">
                <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="closeModel()" />
                &nbsp;&nbsp;
                <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}">
            </div>
        </div>
    </div>
</form>
