<div class="main-wrapper">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!--<div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>-->
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->

  <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">

    <div class="auth-box row">
      <div class="col-lg-12 col-md-12 ">

      </div>
      <div class="col-lg-6 col-md-6 modal-bg-img">
        <div class="d-flex flex-column justify-content-between h-100 p-3 p-md-4">
          <img class="img-fluid rounded mt-2 text-left" loading="lazy" src="assets/images/Exonelogo.svg" width="150"
              height="50" alt="ExOne Logo">
          <img class="img-fluid m-0 mt-2" loading="lazy" src="assets/images/BGIMGEXONE.png"
              alt="ExOne Background Image">
      </div>
      </div>
      <div class="col-lg-6 col-md-6 bg-white customradius">
        <div class="selectLanguage">
          <!-- <div class="col-12 d-flex justify-content-end"> -->
            <!--<div class="">
                <button type="button" class="btn btn-light custom-btn">العربية</button>
            </div>-->
        <!-- </div> -->
        </div>
        <div class="p-3">
          <h2 class="mt-5 text-left txt">Log In To Your ExOne Account</h2>
          <h2 class="txt1">Please enter your <span class="txtd">E-mail</span>  and <span class="txtd">Password</span></h2>
          <!-- <ng-container *ngIf="isCinForm">
            <form [formGroup]="cinloginForm" (ngSubmit)="cinlogin()" novalidate class="mt-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="text-dark" for="cin">CIN</label>
                    <input class="form-control" id="cin" type="text"
                           placeholder="Enter your CIN" formControlName="cinNumber" />          
                    <validation-message [control]="cinloginForm.controls.cinNumber"></validation-message>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <button type="submit" class="btn btn-block waves-effect waves-light btn-rounded  btn-primary">Validate</button>
                  </div>
                </div>
              </div>
            </form>
          </ng-container> -->
          <ng-container>
            <form [formGroup]="cinloginForm" (ngSubmit)="cinlogin()" novalidate class="mt-4">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- <label class="text-dark" for="uname">Company Code</label> -->
                    <input class="form-control" id="uname" type="text"
                           placeholder="Enter your CIN" formControlName="cinNumber">
                    <validation-message [control]="cinloginForm.controls.cinNumber"></validation-message>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- <label class="text-dark" for="uname">Username</label> -->
                    <input class="form-control" id="uname" type="text"
                           placeholder="Username" formControlName="userName">
                    <validation-message [control]="cinloginForm.controls.userName"></validation-message>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <!-- <label class="text-dark" for="pwd">Password</label> -->
                    <input class="form-control" id="pwd" type="password"
                           placeholder="Password" formControlName="password">
                    <validation-message [control]="cinloginForm.controls.password"></validation-message>
                  </div>
                </div>
                <div class="col-lg-12 text-center">
                  <!-- <submit-button class="" [title]="'Sign In'"></submit-button> -->
                  <button type="submit" class="btn btn-block waves-effect waves-light btn-rounded  btn-primary">Sign In</button>
                </div>
                <!-- <div class="col-lg-12 text-center mt-5">
        Don't have an account? <a href="#" class="btn waves-effect waves-light btn-rounded btn-outline-primary">Register Here</a>
      </div> -->
              </div>

              <div class="col-12 mt-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="remember_me"
                         id="remember_me">
                  <label class="form-check-label text-secondary" for="remember_me">
                    Remember Me
                  </label>
                </div>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
        <div class="col-12 text-center" style="color: lightgrey; background-color:#fff ;">
            <p class="mb-2">@ 2024 Logic Systems, All Rights Reserved </p>
        </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Login box.scss -->
  <!-- ============================================================== -->
</div>
