<div class="modal-header">
    <h3 class="modal-title">{{modalTitle}}</h3>
    <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
</div>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="departmentCode">{{'DepartmentCode' | translate}}</label>
                <input class="form-control input-mandatory" type="text"
                    placeholder="{{'Please_Enter' | translate}} {{'DepartmentCode' | translate}} "
                    formControlName="departmentCode" [readonly]="isReadOnly">
                <validation-message [control]="form.controls.departmentCode"></validation-message>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="divisionCode">{{'Division' | translate}}</label>
                <select class="custom-select input-mandatory" formControlName="divisionCode">
                    <option value="">{{'Choose' | translate}} {{'Bank' | translate}}</option>
                    <ng-container *ngIf="divisions">
                        <option *ngFor="let division of divisions" value="{{division.value}}">{{division.text}}</option>
                    </ng-container>
                </select>
                <validation-message [control]="form.controls.divisionCode"></validation-message>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="departmentNameEn">{{'DepartmentNameEn' | translate}}</label>
                <input class="form-control input-mandatory" type="text"
                    placeholder="{{'Please_Enter' | translate}} {{'DepartmentNameEn' | translate}}"
                    formControlName="departmentNameEn">
                <validation-message [control]="form.controls.departmentNameEn"></validation-message>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="departmentNameAr">{{'DepartmentNameAr' | translate}}</label>
                <input class="form-control" type="text"
                    placeholder="{{'Please_Enter' | translate}} {{'DepartmentNameAr' | translate}}"
                    formControlName="departmentNameAr">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="isActive">{{'Is_Active' | translate}}</label>
                <br />
                <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="row mt-3 ">
        <div class="col-md-12 col-lg-12 text-center">
            <input type="button" class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
                value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
            <input type="submit" class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                value="{{'Save' | translate}}" />
        </div>
    </div>
</form>