<h3 class="modal-title">{{'Service_Code' | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="outer ">
    <div class="row rowm0 mt-3">
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Service_Code' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Service_Code' | translate}}"
                 formControlName="serviceCode" />
          <validation-message [control]="form.controls.serviceCode"></validation-message>
        </div>
      </div>

   <!--<div class="col-md-6 col-lg-6 col-sm-6">
    <div class="form-group">
      <label>{{'Service_Type' | translate}}</label>
      <input class="form-control" type="text" placeholder="{{'Service_Type' | translate}}"
             formControlName="serviceType" />
      <validation-message [control]="form.controls.serviceType"></validation-message>
    </div>
  </div>-->

      <div class="col-md-6 col-lg-6 col-sm-6">
      <div class="form-group ">
      <label>{{'Service_Type' | translate}}</label>
       <select class="custom-select mr-sm-2" formControlName="serviceType">
        <option value="">{{'Select' | translate}} {{'Service_Type' | translate}} </option>
        <option value="ServiceType1">{{'Service_Type1' | translate}}</option>
        <option value="ServiceType2">{{'Service_Type2' | translate}}</option>
       </select>
        <validation-message [control]="form.controls.serviceType"></validation-message>
      </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Service_Name_EN' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Service_Name_EN' | translate}}"
                 formControlName="serviceName_En" />
          <validation-message [control]="form.controls.serviceName_En"></validation-message>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Service_Name_AR' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Service_Name_AR' | translate}}"
                 formControlName="serviceName_Ar" />
          <validation-message [control]="form.controls.serviceName_Ar"></validation-message>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Remarks' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Remarks' | translate}}"
                 formControlName="remarks" />
          <validation-message [control]="form.controls.remarks"></validation-message>
        </div>
      </div>


      <div class="col-md-6 col-lg-6 col-sm-6">
        <label>{{'Is_Active' | translate}}</label>
        <div class="form-group">
          <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
        </div>
      </div>

    </div>
    <div class="row customrow mt-4">
      <div class="col-lg-12 col-md-12 text-center">
        <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="closeModel()" />
        &nbsp;&nbsp;
        <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}">
      </div>
    </div>
  </div>
</form>
