<h3 class="modal-title">{{'Assign_Route' | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="outer ">
    <div class="row rowm0 mt-3">
      

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Vehicle_Number' | translate}}</label>
          <select class="custom-select mr-sm-2" formControlName="vehicleNumber">
            <option value="">{{'Select' | translate}} {{'Vehicle_Number' | translate}} </option>
            <ng-container *ngIf="vehicleNumberList">
              <option *ngFor="let item of vehicleNumberList" value="{{item.registrationNumber}}">{{ isArab ? item.registrationNumber : item.registrationNumber  }}</option>
            </ng-container>
          </select>

          <validation-message [control]="form.controls.vehicleNumber"></validation-message>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Route_Plan' | translate}}</label>
          <select class="custom-select mr-sm-2" formControlName="routePlan">
            <option value="">{{'Select' | translate}} {{'Route_Plan' | translate}} </option>
            <ng-container *ngIf="routePlanList">
              <option *ngFor="let item of routePlanList" value="{{item.routeNameEn}}">{{ isArab ? item.routeNameAr : item.routeNameEn  }}</option>
            </ng-container>
          </select>

          <validation-message [control]="form.controls.routePlan"></validation-message>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Remarks' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Remarks' | translate}}"
                 formControlName="remarks" />
          <validation-message [control]="form.controls.remarks"></validation-message>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-sm-6">
        <label>{{'Is_Active' | translate}}</label>
        <div class="form-group">
          <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
        </div>
      </div>

    </div>
    <div class="row customrow mt-4">
      <div class="col-lg-12 col-md-12 text-center">
        <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="closeModel()" />
        &nbsp;&nbsp;
        <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}">
      </div>
    </div>
  </div>
</form>
