################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LS_ERP/.vs
/LS_ERP/CIN.Application/bin/Debug/net5.0
/LS_ERP/CIN.Application/obj
/LS_ERP/CIN.DB.One/bin/Debug/net5.0
/LS_ERP/CIN.DB.One/obj
/LS_ERP/CIN.Domain/bin/Debug/net5.0
/LS_ERP/CIN.Domain/obj
/LS_ERP/CIN.Server/bin/Debug/net5.0
/LS_ERP/CIN.Server/obj
/LS_ERP/LS.API/bin/Debug/net5.0
/LS_ERP/LS.API/obj
/LS_ERP/LS.API.Fin/bin/Debug/net5.0
/LS_ERP/LS.API.Fin/obj
/LS_ERP/LS.API.FLM/LS.API.FLM/bin/Debug/net5.0
/LS_ERP/LS.API.FLM/LS.API.FLM/obj
/LS_ERP/LS.API.HRM.Admin/bin/Debug/net5.0
/LS_ERP/LS.API.HRM.Admin/obj
/LS_ERP/LS.API.Invt/bin/Debug/net5.0
/LS_ERP/LS.API.Invt/obj
/LS_ERP/LS.API.MOB/bin/Debug/net5.0
/LS_ERP/LS.API.MOB/obj
/LS_ERP/LS.API.OPR/bin/Debug/net5.0
/LS_ERP/LS.API.OPR/obj
/LS_ERP/LS.API.Payroll/bin/Debug/net5.0
/LS_ERP/LS.API.Payroll/obj
/LS_ERP/LS.API.Purchase/bin/Debug/net5.0
/LS_ERP/LS.API.Purchase/obj
/LS_ERP/LS.API.Sales/bin/Debug/net5.0
/LS_ERP/LS.API.Sales/obj
/LS_ERP/LS.API.SM/bin/Debug/net5.0
/LS_ERP/LS.API.SM/obj
/LS_ERP/LS.API.TNA/bin/Debug/net5.0
/LS_ERP/LS.API.TNA/obj
/LS_ERP/LS.API.Zatca/bin/Debug/net5.0
/LS_ERP/LS.API.Zatca/obj
/LS_ERP/TeacherMobileApp/bin/Debug/net5.0
/LS_ERP/TeacherMobileApp/obj
/LS_ERP/ViewResources/bin/Debug/net5.0
/LS_ERP/ViewResources/obj
/LS_ERP/LS.HRM/bin/Debug/net5.0
/LS_ERP/LS.HRM/obj
