<h3 class="modal-title">{{'Ward_Details_for_Admission' | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
    <div class="outer ">
        <div class="row rowm0 mt-3">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Registration_Number' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Registration_Number' | translate}}"
                        formControlName="registrationNumber" />
                    <validation-message [control]="form.controls.registrationNumber"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Date' | translate}}</label>
                    <div class="input-group ">
                        <input class="form-control datapickerinput" placeholder="{{'Date' | translate}}"
                            formControlName="date" [matDatepicker]="picker3">
                        <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker><br /><br />
                        </div>
                    </div>
                    <validation-message [control]="form.controls.date"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Student_Name' | translate}}</label>
                    <input class="form-control" type="txt" placeholder="{{'Student_Name' | translate}}"
                        formControlName="studentName" />
                    <validation-message [control]="form.controls.studentName"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Student_Name_in_Arabic' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Student_Name_in_Arabic' | translate}}"
                        formControlName="studentNameInArabic" />
                    <validation-message [control]="form.controls.studentNameInArabic"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Date_of_Birth' | translate}}</label>
                    <div class="input-group ">
                        <input class="form-control datapickerinput" placeholder="{{'Date_of_Birth' | translate}}"
                            formControlName="dateOfBirth" [matDatepicker]="picker1">
                        <div class="input-group-prepend datapickericon">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker><br /><br />
                        </div>
                    </div>
                    <validation-message [control]="form.controls.dateOfBirth"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Age' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Age' | translate}}"
                        formControlName="age" />
                    <validation-message [control]="form.controls.age"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group ">
                    <label>{{'Grade_Seeking_Admission_in' | translate}}</label>
                    <select class="custom-select mr-sm-2" formControlName="gradeSeekingAdmissionIn">
                        <option value="">{{'Select' | translate}} {{'Grade_Seeking_Admission_in' | translate}} </option>
                        <option>dfdfdsfsd</option>
                    </select>
                    <validation-message [control]="form.controls.gradeSeekingAdmissionIn"></validation-message>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group ">
                    <label>{{'Medium_on_Language' | translate}}</label>
                    <select class="custom-select mr-sm-2" formControlName="mediumOnLanguage">
                        <option value="">{{'Select' | translate}} {{'Medium_on_Language' | translate}} </option>
                        <option> {{'Medium_on_Language' | translate}} </option>
                    </select>
                    <validation-message [control]="form.controls.mediumOnLanguage"></validation-message>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group ">
                    <label>{{'Gender_Code' | translate}}</label>
                    <select class="custom-select mr-sm-2" formControlName="genderCode">
                        <option value="">{{'Select' | translate}} {{'Gender_Code' | translate}} </option>
                        <option>{{'Gender_Code' | translate}}</option>
                    </select>
                    <validation-message [control]="form.controls.genderCode"></validation-message>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Identity_Card_Number' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Identity_Card_Number' | translate}}"
                        formControlName="identityCardNumber" />
                    <validation-message [control]="form.controls.identityCardNumber"></validation-message>
                </div>
            </div>           
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group ">
                    <label>{{'Nationality' | translate}}</label>
                    <select class="custom-select mr-sm-2" formControlName="nationality">
                        <option value="">{{'Select' | translate}} {{'Nationality' | translate}} </option>
                        <option>{{'Nationality' | translate}}</option>
                    </select>
                    <validation-message [control]="form.controls.nationality"></validation-message>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group ">
                    <label>{{'Religion' | translate}}</label>
                    <select class="custom-select mr-sm-2" formControlName="religion">
                        <option value="">{{'Select' | translate}} {{'Religion' | translate}} </option>
                        <option>{{'Religion' | translate}}</option>
                    </select>
                    <validation-message [control]="form.controls.religion"></validation-message>
                </div>

            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <label>{{'Physically_Challenged' | translate}}</label>
                <div class="form-group">
                    <mat-slide-toggle color="primary" formControlName="physicallyChallenged"></mat-slide-toggle>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Mentioned_Physical_Challenge' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Mentioned_Physical_Challenge' | translate}}"
                        formControlName="mentionedPhysicalChallenge" />
                    <validation-message [control]="form.controls.mentionedPhysicalChallenge"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                    <label>{{'Mentioned_Medical_Issue' | translate}}</label>
                    <input class="form-control" type="text" placeholder="{{'Mentioned_Medical_Issue' | translate}}"
                        formControlName="mentionedMedicalIssue" />
                    <validation-message [control]="form.controls.mentionedMedicalIssue"></validation-message>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <label>{{'Any_Medical_Issues' | translate}}</label>
                <div class="form-group">
                    <mat-slide-toggle color="primary" formControlName="anyMedicalIssues"></mat-slide-toggle>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row m-0">
                <div class="col-md-12 mb-3" style="background: #919191">
                    <h3 style="margin: 0px;padding:5px;color: #fff;">{{'Parents_Details' | translate}}</h3>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>{{'Father_Name' | translate}}</label>
                        <input class="form-control" type="text" placeholder="{{'Father_Name' | translate}}"
                            formControlName="fatherName" />
                        <validation-message [control]="form.controls.fatherName"></validation-message>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>{{'Mother_Name' | translate}}</label>
                        <input class="form-control" type="text" placeholder="{{'Mother_Name' | translate}}"
                            formControlName="motherName" />
                        <validation-message [control]="form.controls.motherName"></validation-message>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>{{'Registered_Mobile' | translate}}</label>
                        <input class="form-control" type="text" placeholder="{{'Registered_Mobile' | translate}}"
                            formControlName="registeredMobile" />
                        <validation-message [control]="form.controls.registeredMobile"></validation-message>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>{{'Registered_Email' | translate}}</label>
                        <input class="form-control" type="text" placeholder="{{'Registered_Email' | translate}}"
                            formControlName="registeredEmail" />
                        <validation-message [control]="form.controls.registeredEmail"></validation-message>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>{{'City' | translate}}</label>
                        <input class="form-control" type="text" placeholder="{{'City' | translate}}"
                            formControlName="city" />
                        <validation-message [control]="form.controls.city"></validation-message>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="form-group">
                        <label>{{'Remarks_Notes' | translate}}</label>
                        <textarea class="form-control" type="text" placeholder="{{'Remarks_Notes' | translate}}"
                            formControlName="remarksNotes"></textarea>
                        <validation-message [control]="form.controls.remarksNotes"></validation-message>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="row m-0">
                <div class="col-md-12 mb-3" style="background: #919191">
                    <h3 style="margin: 0px;padding:5px;color: #fff;">{{'Previous_Education_Details' | translate}}</h3>
                </div>
                <div class="row customrow mt-4" style="margin: 0px; border-bottom: 1px solid #ddd">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label>{{'Name_Of_Institute' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <label>{{'Class_Studied' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <label>{{'Medium_Language' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <label>{{'Board_Name' | translate}}</label>
                    </div>
                    <div class="col-md-1">
                        <label>{{'Pass' | translate}}</label>
                    </div>
                    <div class="col-md-1">
                        <label>{{'Year' | translate}}</label>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row customrow mt-4" style="margin: 0px; border-bottom: 1px solid #ddd">
                    <div class="col-md-1">1</div>
                    <div class="col-md-2">
                        <label>{{'Institute Name' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <label>{{'IVV' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <label>{{'English' | translate}}</label>
                    </div>
                    <div class="col-md-2">
                        <label>{{'ABC Board' | translate}}</label>
                    </div>
                    <div class="col-md-1">
                        <label>{{'75%' | translate}}</label>
                    </div>
                    <div class="col-md-1">
                        <label>{{'2020' | translate}}</label>
                    </div>
                    <div class="col-md-1">
                        <a data-toggle="modal" data-target="#addupdateUnit" class=" "
                        href="#"> <i class="icon-plus"> </i></a>
                    </div>
                </div>               
            </div>

        </div>
        <div class="row customrow mt-4">
            <div class="col-lg-12 col-md-12 text-center">
                <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}"
                    (click)="closeModel()" />
                &nbsp;&nbsp;
                <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}">
            </div>
        </div>
    </div>
</form>