<div class="modal-header">
  <h2 class="modal-title">
    {{'Create_New_Customer_Advance_Payment' | translate}} <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
  </h2>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-1">
  <div class="outer ">
    <div class="row rowm0 ">
      <div class="col-md-12 col-lg-12">
        <div class="row  ">
          <!--<div class="col-md-3 col-lg-3">

    <div class="form-group ">
      <label class="mr-sm-2">{{'Voucher_Number' | translate}} </label>
      <input class="form-control" type="number" placeholder="{{'Please_Enter' | translate}} {{'Voucher_Number' | translate}}  " formControlName="voucherNumber">
      <validation-message [control]="form.controls.voucherNumber"></validation-message>
    </div>
  </div>-->

          <div class="col-md-3 col-lg-3">

            <div class="form-group ">
              <label class="mr-sm-2">{{'Customer' | translate}}</label>

              <ng-select [items]="customerList"
                         bindLabel="text"
                         bindValue="textTwo" formControlName="custCode" (change)="loadProductdata($event)">

              </ng-select>
              <validation-message [control]="form.controls.custCode"></validation-message>
              <!--[(ngModel)]="selectedCar" [ngModelOptions]="{standalone: true}"-->
              <!--<select class="custom-select mr-sm-2" formControlName="">
        <option value="">{{'Customer' | translate}}</option>
        <option *ngFor="let item of customerList" value="{{item.value}}">{{item.text}}</option>
      </select>-->

            </div>

          </div>

          <div class="col-md-4 col-lg-4">

            <div class="form-group ">
              <label class="mr-sm-2">{{'Customer_Sites' | translate}}</label>

              <ng-select [items]="customerSiteList"
                         bindLabel="text"
                         bindValue="value" formControlName="siteCode" (clear)="resetSiteInfo()" (change)="selectSiteInfo($event)">

              </ng-select>


            </div>

          </div>

          <div class="col-md-3 col-lg-3">
            <div class="form-group ">
              <label class="mr-sm-2">{{'Organization' | translate}}</label>
              <select class="custom-select mr-sm-2" formControlName="companyId" (change)="loadBranchs($event)">
                <option value="">{{'Select_Organization' | translate}}</option>
                <option *ngFor="let item of companyList" value="{{item.value}}">{{item.text}}</option>
              </select>
              <validation-message [control]="form.controls.companyId"></validation-message>
            </div>

          </div>
          <div class="col-md-3 col-lg-3">
            <div class="form-group ">
              <label class="mr-sm-2">{{'Branch' | translate}}</label>
              <select class="custom-select mr-sm-2" formControlName="branchCode">
                <option value="">{{'Select_Branch' | translate}}</option>
                <option *ngFor="let item of branchList" value="{{item.value}}">{{item.text}}</option>
              </select>
              <validation-message [control]="form.controls.branchCode"></validation-message>
            </div>

          </div>

          <div class="col-md-3 col-lg-3">
            <label class="mr-sm-2">{{'Receipt_Date' | translate}}</label>
            <div class="form-group ">
              <div class="input-group mb-2">
                <input class="form-control datapickerinput" placeholder="{{'Select_a_Date' | translate}}" formControlName="tranDate"
                       [matDatepicker]="tranDate">

                <div class="input-group-prepend datapickericon">
                  <mat-datepicker-toggle matSuffix [for]="tranDate"></mat-datepicker-toggle>
                  <mat-datepicker #tranDate></mat-datepicker>
                </div>

              </div>
              <validation-message [control]="form.controls.tranDate"></validation-message>

            </div>

          </div>


          <div class="col-md-3 col-lg-3">
            <div class="form-group ">
              <label class="mr-sm-2">{{'PayCode' | translate}}</label>
              <select class="custom-select mr-sm-2" formControlName="payCode">
                <option value="">{{'Select_Organization' | translate}}</option>
                <option *ngFor="let item of payCodeList" value="{{item.text}}">{{item.text}}</option>
              </select>
              <validation-message [control]="form.controls.payCode"></validation-message>
            </div>

          </div>
          

          <div class="col-md-3 col-lg-3">

            <div class="form-group ">
              <label class="mr-sm-2">{{'amount' | translate}}</label>
              <input class="form-control" type="number" placeholder="{{'Please_Enter' | translate}} {{'Invoice_Reference_Number' | translate}}" formControlName="advAmount">
              <validation-message [control]="form.controls.advAmount"></validation-message>
            </div>

          </div>

          <div class="col-md-3 col-lg-3">
            <div class="form-group ">
              <label class="mr-sm-2">
                {{'preparedby' | translate}}
              </label>
              <input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'LPO_Contract' | translate}}" formControlName="preparedby">
              <validation-message [control]="form.controls.preparedby"></validation-message>
            </div>

          </div>

          <div class="col-md-3 col-lg-3">
            <div class="form-group ">
              <label class="mr-sm-2">
                {{'Doc_Number' | translate}}
              </label>
              <input class="form-control" type="text" placeholder=" {{'Please_Enter' | translate}}  {{'Doc_Number' | translate}}" formControlName="docNum">
            </div>

          </div>


          <div class="col-md-3 col-lg-3" *ngIf="IsCheckSelected">
            <div class="form-group ">
              <label class="mr-sm-2">{{'checkNumber' | translate}} </label>
              <input class="form-control" type="text" placeholder="{{'Please_Enter' | translate}}  {{'checkNumber' | translate}} " formControlName="checkNumber"
                     maxlength="10">
              <validation-message [control]="form.controls.checkNumber"></validation-message>
            </div>

          </div>
          <div class="col-md-3 col-lg-3" *ngIf="IsCheckSelected">
            <label class="mr-sm-2">{{'checkdate' | translate}}</label>
            <div class="form-group ">
              <div class="input-group mb-2">
                <input type="text" class="form-control datapickerinput" placeholder="{{'Select_a_Date' | translate}}" formControlName="checkDate"
                       [matDatepicker]="checkdate">
                <!--<validation-message [control]="form.controls.checkdate"></validation-message>-->
                <div class="input-group-prepend datapickericon">
                  <mat-datepicker-toggle matSuffix [for]="checkdate"></mat-datepicker-toggle>
                  <mat-datepicker #checkdate></mat-datepicker><br /><br />
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group ">
              <label class="mr-sm-2">{{'Remarks' | translate}}</label>
              <textarea class="form-control" placeholder="{{'PLease_Enter' | translate}} {{'Remarks' | translate}}" formControlName="remarks"></textarea>

            </div>

          </div>

          <div class="col-md-6 col-lg-6">
            <div class="form-group ">
              <label class="mr-sm-2">{{'Invoice_Notes' | translate}}</label>
              <textarea class="form-control" placeholder="{{'PLease_Enter' | translate}} {{'Invoice_Notes' | translate}}" formControlName="notes"></textarea>

            </div>

          </div>

          <div class="col-md-2 col-lg-2">
            <label class="mtop6"> {{'Payment_Against_Invoice' | translate}} </label>
            <br />
            <mat-slide-toggle color="primary" (change)="enableInvoice($event)"> </mat-slide-toggle>
          </div>
          

          <div class="col-md-4 col-lg-4" *ngIf="IsEnableInvoice">
            <div class="form-group ">
              <label class="mr-sm-2">{{'Invoice_Number' | translate}}</label>

              <ng-select [items]="invoiceNumberList"
                         bindLabel="text"
                         bindValue="value" formControlName="invoiceNumber"> </ng-select>

              <!--<input class="form-control" placeholder="{{'PLease_Enter' | translate}} {{'Invoice_Number' | translate}}" formControlName="invoiceNumber" />-->

            </div>

          </div>
        </div>



      </div>
    </div>
  </div>





  <div class="outer">

    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModel()">
          {{'Cancel' | translate}}
        </button>
        &nbsp;&nbsp;
        <input type="submit" class="btn waves-effect waves-light   btn-primary  " value="{{'Save' | translate}}">
      </div>
    </div>

  </div>

</form>

