<div class="modal-header">
  <h3 class="modal-title">{{"Vacation–Travel Exit Re-Entry Information" | translate}}</h3>
  <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
</div>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="employeeNumber">{{'EmployeeNumber' | translate}}</label>
        <input class="form-control" id="EmployeeNumber" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'EmployeeNumber' | translate}} " formControlName="employeeNumber" [readonly]="isReadOnly">
        <validation-message [control]="form.controls.employeeNumber"></validation-message>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label for="employeeName">{{'EmployeeName' | translate}}</label>
        <input class="form-control" id="employeeName" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'EmployeeName' | translate}}" formControlName="employeeName" [readonly]="isReadOnly">
        <validation-message [control]="form.controls.employeeName"></validation-message>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="exitReEntryNumber">{{'ExitRe-EntryNumber' | translate}}</label>
        <input class="form-control" id="exitReEntryNumber" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'ExitRe-EntryNumber' | translate}}" formControlName="exitReEntryNumber">
        <validation-message [control]="form.controls.exitReEntryNumber"></validation-message>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label for="exitEffectiveFromDate" class="mr-sm-2">
          {{'ExitEffectiveDate' | translate}}
        </label>
        <div class="input-group ">
          <input class="form-control input-mandatory"
                 placeholder=" {{'Please_Enter' | translate}} {{'ExitEffectiveDate' | translate}}" formControlName="exitEffectiveFromDate"
                 [matDatepicker]="picker1">
          <div class="input-group-prepend datapickericon">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <validation-message [control]="form.controls.exitEffectiveFromDate"></validation-message>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label for="exitEffectiveToDate" class="mr-sm-2">
          {{'ValidUpto(Date)' | translate}}
        </label>
        <div class="input-group ">
          <input class="form-control input-mandatory"
                 placeholder=" {{'Please_Enter' | translate}} {{'ValidUpto(Date)' | translate}}" formControlName="exitEffectiveToDate"
                 [matDatepicker]="picker2">
          <div class="input-group-prepend datapickericon">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <validation-message [control]="form.controls.exitEffectiveToDate"></validation-message>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="numberOfDays">{{'NumberOfDays' | translate}}</label>
        <input class="form-control" id="numberOfDays" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'NumberOfDays' | translate}}" formControlName="numberOfDays" [readonly]="isReadOnly">
        <validation-message [control]="form.controls.numberOfDays"></validation-message>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="form-group ">
        <label for="expectedDateofReporting" class="mr-sm-2">
          {{'ExpectedDateofReporting' | translate}}
        </label>
        <div class="input-group ">
          <input class="form-control input-mandatory"
                 placeholder=" {{'Please_Enter' | translate}} {{'ExpectedDateofReporting' | translate}}" formControlName="expectedDateofReporting"
                 [matDatepicker]="picker3">
          <div class="input-group-prepend datapickericon">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <validation-message [control]="form.controls.expectedDateofReporting"></validation-message>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <mat-slide-toggle color="primary" formControlName="isVacationExtensionAllowed"></mat-slide-toggle>&nbsp;
        <label for="vacationExtensionAllowed">{{'VacationExtensionAllowed?' | translate}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="Business Class">{{'TicketNumber' | translate}}</label>
        <input class="form-control" id="ticketNumber" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'TicketNumber' | translate}}" formControlName="ticketNumber">
        <validation-message [control]="form.controls.ticketNumber"></validation-message>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <label for="ticketClass" class="mr-sm-2">{{'TicketClass' | translate}}</label>
      <select class="custom-select mr-sm-2" formControlName="flightClassCode">
        <option value="">{{'ABC' | translate}}</option>
        <option *ngFor="let item of flightClassList" value="{{item.value}}">{{item.text}}</option>
      </select>
      <validation-message [control]="form.controls.flightClassCode"></validation-message>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <label for="airLines" class="mr-sm-2">{{'AirLines' | translate}}</label>
      <input class="form-control" id="airLines" type="text"
             placeholder="{{'Please_Enter' | translate}} {{'TicketNumber' | translate}}" formControlName="airLines">
      <validation-message [control]="form.controls.airLines"></validation-message>
    </div>
  </div>
  &nbsp;
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <label for="airLines" class="mr-sm-2">{{'BoardingCity' | translate}}</label>
      <select class="custom-select mr-sm-2" formControlName="boardingCityCode">
        <option value="">{{'ABC' | translate}}</option>
        <option *ngFor="let city of cities" value="{{city.value}}">{{city.text}}</option>
      </select>
      <validation-message [control]="form.controls.boardingCityCode"></validation-message>
    </div>
    <div class="col-md-6 col-lg-6">
      <label for="airLines" class="mr-sm-2">{{'DestinationCity' | translate}}</label>
      <select class="custom-select mr-sm-2" formControlName="destinationCityCode">
        <option value="">{{'ABC' | translate}}</option>
        <option *ngFor="let city of cities" value="{{city.value}}">{{city.text}}</option>

      </select>
      <validation-message [control]="form.controls.destinationCityCode"></validation-message>
    </div>
  </div>
  &nbsp;
  <div class="row">
    <!--<div class="col-md-6 col-lg-6">
      <div class="form-group">
        <mat-slide-toggle color="primary" formControlName="vacationExtensionAllowed"></mat-slide-toggle>&nbsp;
        <label for="vacationExtensionAllowed">{{'VacationExtensionAllowed?' | translate}}</label>
      </div>
    </div>-->
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="replacementemployee">{{'ReplacementEmployee' | translate}}</label>
        <!--<input class="form-control" id="replacementemployee" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'ReplacementEmployee' | translate}} " formControlName="replacementEmployeeID" [readonly]="isReadOnly">-->

        <ng-select [items]="empListSelectListItems"
                   bindLabel="text"
                   bindValue="value" formControlName="replacementEmployeeID">
        </ng-select>
        <validation-message [control]="form.controls.replacementEmployeeID"></validation-message>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group">
        <label for="nameOfTheReplacementEmployee">{{'NameOfTheReplacementEmployee' | translate}}</label>
        <input class="form-control" id="nameOfTheReplacementEmployee" type="text"
               placeholder="{{'Please_Enter' | translate}} {{'NameOfTheReplacementEmployee' | translate}} " formControlName="nameOfTheReplacementEmployee" [readonly]="isReadOnly">-->
        <!--<validation-message [control]="form.controls.nameOfTheReplacementEmployee"></validation-message>-->
      <!--</div>
    </div>
  </div>-->
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="form-group ">
        <label for="remarks" class="mr-sm-2">
          {{'Remarks' | translate}}
        </label>
        <textarea class="form-control" placeholder=" {{'Please_Enter' | translate}}  {{'Remarks' | translate}}"
                  formControlName="replacementRemarks"></textarea>
      </div>
    </div>
  </div>

  &nbsp;
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="isActive">{{'Is_Active' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="row mt-3 ">
    <div class="col-md-12 col-lg-12 text-center">
      <input type="button"
             class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
      <input type="submit"
             class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
             value="{{'Save & Release' | translate}}" /> &nbsp;
      <input type="button"
             class="btn waves-effect waves-light btn-rounded   btn-danger btn-midblock"
             value="{{'Cancel Vacation' | translate}}" (click)="cancelVacation()" />
    </div>
  </div>
</form>
