<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'CostAllocationSetup' | translate}}
      </h3>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">

          <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="costType">{{'costType' | translate}}</label>
                
                  <select class="custom-select mr-sm-2" formControlName="costType">
                    <option value=""> {{'Choose' | translate}}</option>
                    <option value="Department"> {{'Department' | translate}}</option>
                    <option value="Employee"> {{'Employee' | translate}}</option>
                    <option value="Customer"> {{'Customer' | translate}}</option>
                    <option value="Vendor"> {{'Vendor' | translate}}</option>
                    <option value="General"> {{'General' | translate}}</option>
                    <option value="N/A"> {{'N/A' | translate}}</option>
                  </select>

                  <validation-message [control]="form.controls.costType"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="costCode">{{'costCode' | translate}}</label>
                  <input class="form-control" id="costCode" type="text"
                         placeholder="{{'Please_Enter' | translate}} {{'costCode' | translate}} " formControlName="costCode" [readonly]="isEdit">
                  <validation-message [control]="form.controls.costCode"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="costName">{{'costName' | translate}}</label>
                  <input class="form-control" id="costName" type="text"
                         placeholder="{{'Please_Enter' | translate}} {{'costName' | translate}}" formControlName="costName">
                  <validation-message [control]="form.controls.costName"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="costName2">{{'costName2' | translate}}</label>
                  <input class="form-control" id="costName2" type="text"
                         placeholder="{{'Please_Enter' | translate}} {{'costName2' | translate}}" formControlName="costName2">
                  <validation-message [control]="form.controls.costName2"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="IsActive">{{'Is_Active' | translate}}</label>
                  <br />
                  <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>

                </div>
              </div>


            </div>

            <div class="row mt-3 ">
              <div class="col-md-12 col-lg-12 text-center">
                <input type="button"
                       class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
                       value="{{'Cancel' | translate}}" (click)="cancel()" /> &nbsp;
                <input type="submit"
                       class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                       value="{{'Save' | translate}}" />
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid">

  <div class="row">
    <div class="col-12 align-self-center pb-3">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'CostAllocationSetup_List' | translate}}
      </h3>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-3">
      <!--(keyup)="applyFilter($event)"-->
      <input class="form-control" placeholder="{{'Search' | translate}}..." (input)="searchFilter($event.target.value)" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <table class="table table-bordered no-wrap">
        <thead>
          <tr>
            <th>{{'costType' | translate}}</th>
            <th>{{'costCode' | translate}}</th>
            <th>{{'costName' | translate}}</th>
            <th>{{'costName2' | translate}}</th>
            <th>{{'Is_Active' | translate}}</th>
            <th>
              {{'Actions' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.costType}}</td>
            <td>{{item.costCode}}</td>
            <td>{{item.costName}}</td>
            <td>{{item.costName2}}</td>
            <td>{{item.isActive}}</td>
            <td>
              <a class="tableicons" (click)="edit(item)" matTooltip="{{'Edit_Item' | translate}}"><i class="icon-note"> </i></a>
              <!--<a class="tableicons" (click)="delete(item.id)"><i class="icon-trash"> </i></a>-->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
