<h3 class="modal-title">{{'Teacher_Notification' | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="outer ">
    <div class="row rowm0 mt-3">
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Notification_Title' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Notification_Title' | translate}}"
                 formControlName="notificationTitle" />
          <validation-message [control]="form.controls.notificationTitle"></validation-message>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Notification_Title_AR' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'Notification_Title_AR' | translate}}"
                 formControlName="notificationTitle_Ar" />
          <validation-message [control]="form.controls.notificationTitle_Ar"></validation-message>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Notification_Message' | translate}}</label>
          <textarea class="form-control" type="text" placeholder="{{'Notification_Message' | translate}}"
                    formControlName="notificationMessage"></textarea>
          <validation-message [control]="form.controls.notificationMessage"></validation-message>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div class="form-group">
          <label>{{'Notification_Message_AR' | translate}}</label>
          <textarea class="form-control" type="text" placeholder="{{'Notification_Message' | translate}}"
                    formControlName="notificationMessage_Ar"></textarea>
          <validation-message [control]="form.controls.notificationMessage_Ar"></validation-message>
        </div>
      </div>
    </div>
    <div class="row customrow mt-4">
      <div class="col-lg-12 col-md-12 text-center">
        <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}"
               (click)="closeModel()" />
        &nbsp;&nbsp;
        <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}" *ngIf="isShowSave">
        &nbsp;&nbsp;
        <input type="button" (click)="approveEvent()" class="btn waves-effect waves-light btn-primary" value="{{'Approve' | translate}}" *ngIf="isApprovalLogin">
      </div>
    </div>
  </div>
</form>
