<div class="modal-header">
  <h3 class="modal-title">{{modalTitle}}</h3>
  <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>

</div>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="BranchCode">{{'PositionCode' | translate}}</label>
        <input class="form-control input-mandatory" id="positionCode" type="text"
          placeholder="{{'Please_Enter' | translate}} {{'PositionCode' | translate}} " formControlName="positionCode"
          [readonly]="isReadOnly">
        <validation-message [control]="form.controls.positionCode"></validation-message>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="positionNameEn">{{'PositionName_EN' | translate}}</label>
        <input class="form-control input-mandatory" id="positionNameEn" type="text"
          placeholder="{{'Please_Enter' | translate}} {{'PositionName_EN' | translate}}"
          formControlName="positionNameEn">
        <validation-message [control]="form.controls.positionNameEn"></validation-message>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="positionNameAr">{{'PositionName_AR' | translate}}</label>
        <input class="form-control" id="positionNameAr" type="text"
          placeholder="{{'Please_Enter' | translate}} {{'PositionName_AR' | translate}}"
          formControlName="positionNameAr">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="description">{{'PositionDescription' | translate}} </label>
        <textarea class="form-control"
          placeholder=" {{'Please_Enter' | translate}}  {{'PositionDescription' | translate}}"
          formControlName="description"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="form-group">
        <label for="isActive">{{'Is_Active' | translate}}</label>
        <br />
        <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="row mt-3 ">
    <div class="col-md-12 col-lg-12 text-center">
      <input type="button" class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
        value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
      <input type="submit" class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
        value="{{'Save' | translate}}" />
    </div>
  </div>
</form>