<br />
<!-- <app-employeebasicinfo></app-employeebasicinfo> -->
<h2>{{'CONTRACT INFO' | translate}}</h2>
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>{{'TRAVEL & VACATION RELATED INFO' | translate}}</h3>
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>{{'GOSI DETAILS' | translate}}</h3>
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>{{'PAYROLL CONFIGURATION' | translate}}</h3>
<hr />
