<h3 class="modal-title">{{modalTitle | translate}}</h3>
<button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 align-self-center">

        <div class="d-flex align-items-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 p-0">
              <li class="breadcrumb-item text-muted"> {{'Purchase_Management' | translate}} </li>
              <li class="breadcrumb-item text-muted"> {{'Purchase' | translate}} </li>
              <li class="breadcrumb-item   active" aria-current="page">{{'Purchase_Authorities' | translate}}</li>

            </ol>
          </nav>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="card">

          <div class="row">

          </div>

          <div class="cardtitle-divider"></div>





          <table class="table  table-bordered no-wrap">
            <tr>

              <td>
                <select class="custom-select mr-sm-2" formControlName="branchCode" (change)="getAuthority()">
                  <option value="">{{'Select' | translate}} {{'Branch' | translate}} </option>
                  <option *ngFor="let brnch of branchCodeList" value="{{brnch.value}}">{{brnch.text}}</option>
                </select>
                <validation-message [control]="form.controls.branchCode"></validation-message>
              </td>
              <td>
                <select class="custom-select mr-sm-2" formControlName="appAuth" (change)="getAuthority()">
                  <option value="">{{'Select_User' | translate}}</option>
                  <option *ngFor="let user of userList" value="{{user.value}}">{{user.value}}-{{user.text}}</option>
                </select>
                <validation-message [control]="form.controls.appAuth"></validation-message>

              </td>
            </tr>
          </table>
          <table>
            <tr>

              <td><input type="checkbox" formControlName="purchaseRequest" /></td>
              <td>{{'PurchaseRequest' | translate}}</td>

              <td><input type="checkbox" formControlName="purchaseOrder" /></td>
              <td>{{'PurchaseOrder'| translate}}</td>
            </tr>
            <tr>
              <td><input type="checkbox" formControlName="purchaseReturn" /></td>
              <td>{{'PurchaseReturn'| translate}}</td>
            </tr>
          </table>


        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 ">
    <div class="col-md-12 col-lg-12 text-center">
      <input type="button"
             class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
             value="{{'Cancel' | translate}}" (click)="closeModel()" /> &nbsp;
      <input type="submit"
             class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
             value="{{'Save' | translate}}" />
    </div>
  </div>
</form>
