
<link href="/assets/style_new.css" rel="stylesheet" />

<div>
  <!--<button printSectionId="printcontainer" ngxPrint>Print</button> &nbsp;-->
  <button (click)="printInvoice()">{{'Print' | translate}}</button> &nbsp;
  <button (click)="saveAsPDF()">{{'Save_As_PDF' | translate}}</button> &nbsp;
  <button type="button" class="" aria-hidden="true" (click)="closeModel()"> Close</button><br />
  <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
</div>
<br />

<spinner-loader [isLoading]="isLoading"></spinner-loader>

<ng-container *ngIf="isArabic; else EngTemplate">
  <app-invoiceview [res]="result" [isSavePDF]="isSavePDF" [isArabic]="isArabic" [OpacityValue]="OpacityValue"></app-invoiceview>
</ng-container>
<ng-template #EngTemplate>
  <app-invoiceviewar [res]="result" [isSavePDF]="isSavePDF" [isArabic]="isArabic" [OpacityValue]="OpacityValue"></app-invoiceviewar>
</ng-template>

<!--<app-invoiceview [res]="result" [isSavePDF]="isSavePDF"></app-invoiceview>-->

<!--<app-invoiceviewar [res]="result" [isSavePDF]="isSavePDF" [isArabic]="isArabic"></app-invoiceviewar>-->
