<style>
  .serq {
    width: 42px !important;
    height: 35px;
    background: gray;
    border-radius: 50em;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    padding: 5px;
    margin: 0px 10px 20px 10px;
    position: relative;
    top: -15px;
  }

  .name-colo {
    color: #027bb2;
    margin: 10px 0px 10px 0px;
  }
  .success-color {
    background: #3dca5a;
  }
  .next-approval {
    background: #ff800f;
  }

  .name-dislpay {
    display: inline-block;
  }
</style>
<h3>{{'Request_Approval' | translate}}</h3>
<div class="row pt-3">
  <div class="col-md-3 col-lg-3" *ngFor="let item of approvalList;let i=index;">
    <div class="serq name-dislpay col-lg-2 margin-10l " [ngClass]="{'success-color': (item.shortValue === 1), 'next-approval': (item.shortValue === 2)}"> {{item.intValue}}</div>
    <div class="name-dislpay">
      <strong>{{item.text}}</strong><br>
      <span class="name-colo">{{item.textTwo}}</span>
    </div>
  </div>
</div>
