<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'Seg1ementSetup' | translate}}
      </h3>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">

          <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="seg2Code">{{'Seg1Code' | translate}}</label>
                  <input class="form-control" id="seg2Code" type="text"
                         placeholder="{{'Please_Enter' | translate}} {{'Seg1Code' | translate}} " formControlName="seg2Code" [readonly] ="isEdit">
                  <validation-message [control]="form.controls.seg2Code"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="seg2Name">{{'Seg1Name' | translate}}</label>
                  <input class="form-control" id="seg2Name" type="text"
                         placeholder="{{'Please_Enter' | translate}} {{'Seg1Name' | translate}}" formControlName="seg2Name">
                  <validation-message [control]="form.controls.seg2Name"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="seg2Name2">{{'Seg1Name2' | translate}}</label>
                  <input class="form-control" id="seg2Name2" type="text"
                         placeholder="{{'Please_Enter' | translate}} {{'Seg1Name2' | translate}}" formControlName="seg2Name2">
                  <validation-message [control]="form.controls.seg2Name2"></validation-message>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="IsActive">{{'Is_Active' | translate}}</label>
                  <br />
                  <mat-slide-toggle color="primary" formControlName="isActive"></mat-slide-toggle>

                </div>
              </div>


            </div>

            <div class="row mt-3 ">
              <div class="col-md-12 col-lg-12 text-center">
                <input type="button"
                       class="btn waves-effect waves-light btn-rounded   btn-secondary btn-midblock"
                       value="{{'Cancel' | translate}}" (click)="cancel()"/> &nbsp;
                <input type="submit"
                       class="btn waves-effect waves-light btn-rounded btn-primary btn-midblock"
                       value="{{'Save' | translate}}" />
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>





<div class="container-fluid">
  <div class="row">
    <div class="col-12 align-self-center pb-3">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'Seg1ementSetup_List' | translate}}
      </h3>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-md-3">
      <!--(keyup)="applyFilter($event)"-->
      <input class="form-control" placeholder="{{'Search' | translate}}..." (input)="searchFilter($event.target.value)" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <table class="table table-bordered no-wrap">
        <thead>
          <tr>
            <th>{{'Seg1Code' | translate}}</th>
            <th>{{'Seg1Name' | translate}}</th>
            <th>{{'Seg1Name2' | translate}}</th>
            <th>{{'Is_Active' | translate}}</th>
            <th>
              {{'Actions' | translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td>{{item.seg2Code}}</td>
            <td>{{item.seg2Name}}</td>
            <td>{{item.seg2Name2}}</td>
            <td>{{item.isActive}}</td>
            <td>

              <a class="tableicons" (click)="edit(item)" matTooltip="{{'Edit_Item' | translate}}"><i class="icon-note"> </i></a>
              <!--<a class="tableicons" (click)="delete(item.id)"><i class="icon-trash"> </i></a>-->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
