<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'Delivery_Notes' | translate}}
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item text-muted">{{'Sales_And_Distribution' | translate}} </li>
            <li class="breadcrumb-item   active" aria-current="page">{{'Delivery_Notes' | translate}} </li>

          </ol>
        </nav>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">

      <div class="card">
        <div class="card-body">

          <div class="row pb-3">
            <div class="col-md-12 col-lg-12">

            </div>
            <div class="col-md-3">
              <!--(keyup)="applyFilter($event)"-->
              <input class="form-control" placeholder="{{'Search' | translate}}..." [(ngModel)]="searchValue" />
            </div>

            <div class="col-md-4 arabicright">
              <button (click)="applyFilter(searchValue,itemCode)" class="btn btn-primary">{{'Search' | translate}}</button> &nbsp;
              <a (click)="refresh()" class=""><i class="btn btn-primary icon-refresh"></i></a> &nbsp;
              <button (click)="print()" class="btn btn-primary">{{'Print' | translate}}</button> &nbsp;
            </div>
          </div>

          <div class="row pb-3">
            <div class="col-md-3">
              <label class="mr-sm-2">{{'Delivery_Notes' | translate}}</label>
              <select class="custom-select mr-sm-2" (change)="loadApprovals($event)" id="approvalList">
                <option value="">{{'All' | translate}}</option>
                <option value="open">{{'Open'|translate}}</option>
                <option value="convertedToInvoice">{{'Converted_To_Invoice'|translate}}</option>
                <option value="closed">{{'Closed'|translate}}</option>
                <!--<option value="cancelled">Cancelled</option>-->

              </select>

            </div>

          </div>

          <div class="row rowm0 ">
            <div class="col-md-4 col-lg-4">
              <h4 class="card-title pt6">{{'Delivery_Notes' | translate}}</h4>
            </div>
            <div class="col-md-4 col-lg-4 text-center">
              <spinner-loader [isLoading]="isLoading"></spinner-loader>
            </div>


          </div>
          <div class="cardtitle-divider"></div>

          <div class="example-table-container table-responsive pt-3">



            <ng-container>

              <table mat-table [dataSource]="data" matSort matSortActive="Id"
                     matSortDisableClear matSortDirection="desc" (matSortChange)="onSortOrder($event)" class="table  table-bordered no-wrap">
                <ng-container matColumnDef="deliveryNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Delivery_Number' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.deliveryNumber }}</td>
                </ng-container>
                <ng-container matColumnDef="quotationNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Sales_QuotationNumber' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.quotationNumber }}</td>
                </ng-container>
                <ng-container matColumnDef="revisedNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Revised_Number' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.revisedNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="quotationDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Sales_Quotation_Date' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.quotationDate | date:'dd/MM/yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="companyName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Organization' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
                </ng-container>
                <ng-container matColumnDef="quotationRefNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Quotation_Reference_Number' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.quotationRefNumber}}</td>
                </ng-container>
                <ng-container matColumnDef="warehouseName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Store' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.warehouseName}}</td>
                </ng-container>
                <ng-container matColumnDef="customerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Customer' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.customerName}}</td>
                </ng-container>
                <ng-container matColumnDef="totalAmount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Sales_Quotation_Amount' | translate}} (SAR)
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.totalAmount| number:'1.2'}}</td>
                </ng-container>
                <ng-container matColumnDef="lpoContract">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'LPO_Contract' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.lpoContract}}</td>
                </ng-container>
                <ng-container matColumnDef="paymentTermId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Payment_Terms' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.paymentTermId}}</td>
                </ng-container>
                <ng-container matColumnDef="taxIdNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Tax_Id_Number' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.taxIdNumber}}</td>
                </ng-container>
                <ng-container matColumnDef="quotationDueDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'Delivery_Date' | translate}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{ row.quotationDueDate  | date:'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="Actions" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef>{{'Actions' | translate}}</th>
                  <td mat-cell *matCellDef="let row">


                    <div>
                      <ng-container>
                        <span>
                          <i class="fas fa-circle" id="{{getStatusColor(row)}}"> </i> &nbsp;
                        </span>

                      </ng-container>

                      <ng-container *ngIf="!row.isConvertedDeliveryNoteToInvoice && !row.isVoid">

                        <span>
                          <a class="tableicons pcursor" (click)="checkStock(row)" matTooltip="{{'Check_Stock_Availability' | translate}}"><i class="icon-question"> </i></a> &nbsp;
                        </span>

                        <span>
                          <a class="tableicons pcursor" (click)="editDeliveryNote(row)" matTooltip="{{'Edit_Qty' | translate}}"><i class="icon-note"> </i></a> &nbsp;
                        </span>
                        <span>
                          <a class="tableicons pcursor" (click)="convertToInvoice(row)" matTooltip="{{'Convert_To_Invoice' | translate}}"><i class="icon-action-redo"> </i></a> &nbsp;
                        </span>
                        <!--<span>
                    <a class="tableicons pcursor" (click)="cancel(row)" matTooltip="{{'Cancel_Delivery' | translate}}"><i class="icon-action-undo"> </i></a> &nbsp;
                  </span>-->

                      </ng-container>
                      <ng-container *ngIf="row.isConvertedDeliveryNoteToInvoice && !row.isVoid">
                        <span>
                          <a class="tableicons pcursor" (click)="view(row)" matTooltip="{{'View_Details' | translate}}"><i class="icon-list"></i></a> &nbsp;
                        </span>

                      </ng-container>

                    </div>


                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

              </table>

            </ng-container>
            <!--<ng-template #noData>
        <no-apidata></no-apidata>
      </ng-template>-->
          </div>
          <ng-container>
            <mat-paginator [length]="totalItemsCount"
                           [pageSize]="pageService.pageCount"
                           [pageSizeOptions]="pageService.selectItemsPerPage"
                           (page)="onPageSwitch($event)">
            </mat-paginator>

          </ng-container>

        </div>
        <div class="card-body">
          <ng-container>
            &nbsp;&nbsp;{{'Open'|translate}}:&nbsp;<i class="fas fa-circle" id="statusOpen"> </i> &nbsp;&nbsp; |&nbsp;&nbsp;
            {{'Converted_To_Invoice'|translate}}:&nbsp; <i class="fas fa-circle" id="statusConvToInv"> </i>&nbsp;&nbsp;|&nbsp;&nbsp;
            {{'Void'|translate}}:&nbsp;<i class="fas fa-circle" id="statusVoid"> </i> &nbsp;&nbsp; |&nbsp;&nbsp;
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<!-- Long Content Scroll Modal -->
<style>

  #statusOpen {
    color: #ff6a00
  }

 


  #statusVoid {
    color: #000000
  }

  
  #statusConvToInv {
    color: #4cff00
  }
</style>
