<style>
  .btn-request {
    border-radius: 10px;
  }
</style>

<div style="position:relative;" class="row">
 
  <div class="col-md-12">
    <button type="button" class="m-1 btn-request btn" [ngClass]="item.isBtnClicked ? 'btn-danger' : 'btn-primary'" aria-hidden="true" (click)="loadComponents(item)" *ngFor="let item of btnList">{{item.text}}</button>
    <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
  </div>
</div>
<br />


<div id="printcontainer" class="p-3 shadow">
  <ng-template loadingComponent></ng-template>
</div>
