<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="modal-title">{{'Student_Fee_Master' | translate}}</h3>
      <button type="button" class="close" aria-hidden="true" (click)="closeModel()"> ×</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <!--<div class="row pb-3">
              <div class="col-md-3">-->
          <!--(keyup)="applyFilter($event)"-->
          <!--<input class="form-control" placeholder="{{'Search' | translate}}..."
                      [(ngModel)]="searchValue" />
              </div>
              <div class="col-md-4 arabicright">
                  <button (click)="applyFilter(searchValue)" class="btn btn-primary">{{'Search' |
                      translate}}</button> &nbsp;
                  <a (click)="refresh()" class=""><i class="btn btn-primary icon-refresh"></i></a>
              </div>
          </div>-->
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <h4 class="card-title pt6">{{'Student_Fee_Master' | translate}}</h4>
            </div>
            <!-- <div class="col-md-8 col-lg-8 text-right">
                <a data-toggle="modal" data-target="#addupdateUnit"
                    class="  btn waves-effect waves-light btn-rounded btn-outline-primary"
                    href="#"> <i class="icon-plus"> </i>{{'Add_New_Subjects' |
                    translate}}</a>

            </div> -->
          </div>
          <div class="cardtitle-divider"></div>
          <div class="table-responsive">
            <spinner-loader [isLoading]="isLoading"></spinner-loader>
            <div class="mat-elevation-z8">
              <ng-container>
                <table mat-table [dataSource]="data" matSort matSortActive="id" matSortDisableClear
                       matSortDirection="desc" class="table  table-bordered no-wrap">
                  <ng-container matColumnDef="termCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Term_Code' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.termCode }}</td>
                  </ng-container>
                  <ng-container matColumnDef="feeDueDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Due_Date' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.feeDueDate }}</td>
                  </ng-container>
                  <ng-container matColumnDef="totFeeAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Total_Fee_Amount' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.totFeeAmount }}</td>
                  </ng-container>
                  <ng-container matColumnDef="taxAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Tax_Amount' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.taxAmount }}</td>
                  </ng-container>
                  <ng-container matColumnDef="netFeeAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Net_Fee_Amount' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.netFeeAmount }}</td>
                  </ng-container>
                  <ng-container matColumnDef="isPaid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Is_Paid' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.isPaid }}</td>
                  </ng-container>
                  <ng-container matColumnDef="paidOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Paid_On' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.paidOn }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> {{'Actions' | translate}}</th>
                    <td mat-cell *matCellDef="let row">
                      <a class="tableicons" (click)="editTermFeeHeader(row)" matTooltip="{{'Edit_Item' | translate}}" *ngIf="row.isPaid==false">
                        <i class="icon-note"> </i>
                      </a>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <ng-container>
                  <mat-paginator [length]="totalItemsCount" [pageSize]="pageService.pageCount"
                                 [pageSizeOptions]="pageService.selectItemsPerPage"
                                 (page)="onPageSwitch($event)">
                  </mat-paginator>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate class="mt-4" *ngIf="isShowEditTermFeeList">
  <div class="outer ">
    <div class="row rowm0 mt-3 m-0">
      <div class="col-md-5 col-lg-5 col-sm-5">
        <div class="form-group ">
          <label>{{'List_Fee' | translate}}</label>
          <select class="custom-select mr-sm-2" formControlName="feeCode">
            <option value="">{{'Select' | translate}} {{'List_Fee' | translate}} </option>
            <ng-container *ngIf="feeList">
              <option *ngFor="let item of feeList" value="{{item.feeCode}}">{{ isArab ? item.feeName2 : item.feesName  }}</option>
            </ng-container>
          </select>
          <validation-message [control]="form.controls.feeCode"></validation-message>
        </div>
      </div>
      <div class="col-md-5 col-lg-5 col-sm-5">
        <div class="form-group">
          <label>{{'List_amount' | translate}}</label>
          <input class="form-control" type="text" placeholder="{{'List_amount' | translate}}"
                 formControlName="feeAmount" />
          <validation-message [control]="form.controls.feeAmount"></validation-message>
        </div>
      </div>
      <!--<div class="col-md-2 col-lg-2 col-sm-2" style="margin-top: 40px">
      <a  style="cursor:pointer;">
        <i class="fas fa-save fa-2x"></i>
      </a>
    </div>-->
    </div>
    <div class="row rowm0 mt-3 m-0">
      <div class="col-md-3 col-lg-3 col-sm-3">
        <b><label>{{'Fee_Name' | translate}}</label></b>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <b><label>{{'Fee_Amount' | translate}}</label></b>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <b><label>{{'Tax_Amount' | translate}}</label></b>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <b><label>{{'Net_Fee_Amount' | translate}}</label></b>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <b><label>{{'Actions' | translate}}</label></b>
      </div>
    </div>
    <div class="row rowm0 mt-3 m-0" *ngFor="let item of feeDetails">
      <div class="col-md-3 col-lg-3 col-sm-3">
        <label>{{isArab?item.feeName2:item.feeName}}</label>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <label>{{item.feeAmount}}</label>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <label>{{item.taxAmount}}</label>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-3">
        <label>{{item.netFeeAmount}}</label>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2">
        <a (click)="editStudentFeeDetails(item)">
          <i class="icon-note"> </i>
        </a> &nbsp;&nbsp;&nbsp;
        <a (click)="removeStudentFeeDetails(item)">
          <i class="icon-close"> </i>
        </a>
      </div>
    </div>
    <div class="row customrow mt-4">
      <div class="col-lg-12 col-md-12 text-center">
        <input type="button" class="btn btn-secondary" value="{{'Cancel' | translate}}" (click)="closeModel()" />
        &nbsp;&nbsp;
        <input type="submit" class="btn waves-effect waves-light btn-primary" value="{{'Save' | translate}}">
      </div>
    </div>
  </div>
</form>
