<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">
        {{'Term_Due_Payment' | translate}}
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item text-muted">{{'Reports' | translate}}</li>
            <li class="breadcrumb-item   active" aria-current="page">
              {{'Term_Due_Payment' | translate }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <div class="form-group">
                <select class="custom-select mr-sm-2" [(ngModel)]="branchCode" (change)="loadResultList()">
                  <option value="">{{'Select' | translate}} {{'Branch_Code' | translate}} </option>
                  <ng-container *ngIf="branchCodeList">
                    <option *ngFor="let item of branchCodeList" value="{{item.value}}">{{ isArab ? item.textTwo : item.text  }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-lg-2">
              <div class="form-group">
                <!--<label>{{'Grade' | translate}}</label>-->
                <select class="custom-select mr-sm-2" [(ngModel)]="gradeCode" (change)="loadResultList()">
                  <option value="">{{'Select' | translate}} {{'Grade' | translate}} </option>
                  <ng-container *ngIf="gradeList">
                    <option *ngFor="let item of gradeList" value="{{item.value}}">{{item.text}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <div class="form-group">
                <!--<label>{{'Academic_Year' | translate}}</label>-->
                <select class="custom-select mr-sm-2" [(ngModel)]="academicYear" (change)="loadResultList()">
                  <option value="0">{{'Select' | translate}} {{'Academic_Year' | translate}} </option>
                  <ng-container *ngIf="acYearList">
                    <option *ngFor="let item of acYearList" value="{{item.text}}">{{item.text}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-lg-4" style="align-content:flex-start">
              <button class="btn btn-primary" (click)="generateReport()" *ngIf="reportData.length==0 && totalItemsCount>0">
                {{'Generate_Report' | translate}}
              </button>
              <span *ngIf="reportData.length>0">
                <button class="btn btn-primary" [useExistingCss]="true" printTitle="{{'Term_Due_Payment_Report' | translate}}"
                        printSectionId="printcontainer"
                        ngxPrint data-toggle="modal" (click)="openPrint()">
                  {{'Print' | translate}}
                </button>
                &nbsp;
                <button class="btn btn-primary" (click)="exportexcel()">{{'Export_To_Excel' | translate}}</button>
              </span>
              <span>
                &nbsp;
                <button class="btn btn-primary icon-refresh" (click)="refresh()"></button>
              </span>
            </div>
            <div class="col-md-3 col-lg-3">
              <button class="btn btn-primary" (click)="sendFeeDueNotification()" *ngIf="reportData.length==0 && totalItemsCount>0">
                {{'Send_Fee_Due_Notification' | translate}}
              </button>
            </div>
          </div>
          <div class="cardtitle-divider"></div>
          <div class="table-responsive">
            <spinner-loader [isLoading]="isLoading"></spinner-loader>
            <div class="mat-elevation-z8">
              <ng-container>
                <table mat-table [dataSource]="data" matSort matSortActive="id" matSortDisableClear
                       matSortDirection="desc" class="table  table-bordered no-wrap" *ngIf="isShow">
                  <!--<ng-container matColumnDef="stuAdmNum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Admission_Number' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.stuAdmNum }}</td>
                  </ng-container>
                  <ng-container matColumnDef="stuName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Student_Name' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.stuName }}</td>
                  </ng-container>
                  <ng-container matColumnDef="gradeCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Grade' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.gradeCode }}</td>
                  </ng-container>
                  <ng-container matColumnDef="gradeSectionCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Section' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.gradeSectionCode }}</td>
                  </ng-container>
                  <ng-container matColumnDef="term1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Term1' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.term1 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="term2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Term2' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.term2 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="term3">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Term3' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.term3 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="term4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Term4' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.term4 }}</td>
                  </ng-container>
                  <ng-container matColumnDef="feeDue">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      {{'Fee_Due' | translate}}
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.feeDue }}</td>
                  </ng-container>-->

                  <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{disCol.toUpperCase() | translate}}</th>
                    <td mat-cell *matCellDef="let element ">
                      {{element[disCol]}}
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
                <ng-container>
                  <mat-paginator [length]="totalItemsCount" [pageSize]="pageService.pageCount"
                                 [pageSizeOptions]="pageService.selectItemsPerPage"
                                 (page)="onPageSwitch($event)">
                  </mat-paginator>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="printcontainer" *ngIf="reportData.length>0" hidden>
  <div width="100%">
    <table id="attndTable">
      <tr>
        <td colspan="2">{{'Term_Due_Payment_Report' | translate}}</td>
      </tr>
      <tr>
        <td colspan="4">{{'Branch_Code'|translate}}:{{(filter?.branchCode==null||filter.branchCode==''?'All':filter.branchCode)}}</td>
      </tr>
    </table>
    <br />
  </div>
  <table id="attndTable" width="100%">
    <tr>
      <th *ngFor="let disCol of displayedColumns; let colIndex = index">
        {{disCol.toUpperCase() | translate}}
      </th>
    </tr>
    <tr *ngFor="let row of reportData;let i=index;">
      <td>{{ row.stuAdmNum }}</td>

      <td>{{ isArabic?row.stuName2: row.stuName }}</td>
      <td>{{ row.gradeCode }}</td>

      <td>{{ row.gradeSectionCode}}</td>
      <td>{{ row.term1}}</td>
      <td>{{ row.term2}}</td>
      <td>{{ row.term3}}</td>
      <td>{{ row.term4}}</td>
      <td>{{ row.feeDue}}</td>
    </tr>
  </table>


</div>


<style>
  #attndTable td, th {
    border: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    text-align: center;
  }

  #attndTable table {
    width: 100%;
  }

  #printcontainer div {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
</style>
